

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        color: pink;
        background-color: lightskyblue;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        color: lightskyblue;
        background-color: lightslategray;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        color: lightyellow;
        background-color: lightseagreen;
    }
}

@media screen and (min-width: 1025px) {
    body {
        color: gray;
        background-color: lightsalmon;
    }
}

